body {
  background-color: rgb(36, 34, 34);
  color: #000000;
}

h1 {
  font-family: "Rajdhani", sans-serif;
}

h5 {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.bgcontainer {
  background-image: url("../images/sfondo2.jpg");
  background-repeat: repeat;
  background-color: #cccccc;
  border-radius: 15px;
}

.ml20 {
  margin-left: 20px;
}

.mr40 {
  margin-right: 40px;
}

.ml1 {
  margin-left: 1px;
}

.pr0 {
  padding-right: 0px;
}

.pl0 {
  padding-left: 0px;
}

.ptb0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pt10 {
  padding-top: 10px;
}

.pt5 {
  padding-top: 5px;
}

.mt40 {
  margin-top: 40px;
}

.ofh {
  overflow: hidden;
}

.h500 {
  height: 500px;
}

.purple {
  color: #8187dc;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 10px;
}

/*sezione cards*/
.firstcards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card-body {
  padding-left: 2px;
}

.prezzo {
  position: relative;
  bottom: 50px;
  width: 60px;
}

.sconti {
  position: relative;
  top: 50px;
  background-color: #ff8c00;
  color: #ff0000;
  border-radius: 5px;
  width: 45px;
  z-index: 20;
}

/*dimensionamento immagini*/
.bestimg {
  width: 300px;
}

.detailsimg {
  width: 80px;
  height: 80px;
  border-radius: 70%;
}

.dettagliata {
  width: 300px;
  height: 185px;
  border-radius: 50%;
}

.button {
  background-color: #8187dc;
  color: #ffffff;
  border-radius: 5px;
}

.button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* padding, margini, classi generiche*/
.flex-center {
  display: flex;
  justify-content: center;
}

/*ombreggiature*/
.cardshadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.shadowed-text {
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.shadowed-text-less {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.shadowed-text-white {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

/*posizionamento bottoni filtro*/
.filter {
  display: flex;
  justify-content: center;
}

.justifyfilterend {
  justify-content: flex-end;
}

.justifyfilterstart {
  justify-content: flex-start;
}

/* Aggiunge una transizione allo sfondo */
.nav-link {
  background-color: #865DFF;
  border-radius: 5px;
  transition: background-color 1.5s ease-out;
  color: #E384FF;
  
}

/* Cambia lo sfondo in hover */
.nav-link:hover {
  background-color: #F5EA5A;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  color: #000000;
}

.navborder {
  border-bottom: 5px solid #865DFF;
}

.icon:hover {
  transform: scale(2);
}

/*colori cambio logo vedi js*/
.rosso {
  color: #865DFF;
}

.verde {
  color: #E384FF;
}

.blu {
  color: #FFA3FD;
}

footer {
  margin-top: 10px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}

.footerborder {
  border-top: 5px solid #8187dc;
}

/*galleria immagini dettagli.html*/
.galleria {
  width: 500px;
  height: 250px;
}

/*grid*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 745px;
  margin: 0 auto;
}

/*marquee*/
.marquee h2 {
  display: inline-block;
  animation: marquee 0.8s linear;
}

.marquee p {
  display: inline-block;
  animation: marquee2 0.8s linear;
}

@keyframes marquee {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes marquee2 {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0%);
  }
}
/*media query*/
/* cellulari */
@media (max-width: 767px) {
  .w300 {
    width: 300px;
  }
  .grid-item {
    width: 100%;
  }
  .galleria {
    width: 150px;
    height: 180px;
  }
  .h500 {
    height: 300px;
  }
  .firstcards {
    margin-left: 20px;
  }
  .justifyfilterend {
    justify-content: flex-start;
  }
  .justifyfilterstart {
    justify-content: flex-start;
    margin-left: 20px;
  }
  .grid-item {
    width: 100%;
    margin-bottom: 0;
  }
  .modal-body img {
    max-width: 390px;
    height: auto;
  }
  .dettagliata {
    width: 150px;
    height: 100px;
  }
  .cardimg {
    width: 185px;
    height: 185px;
  }
  .grid {
    overflow: hidden;
  }
}
/*tablet piccoli*/
@media screen and (min-width: 461px) and (max-width: 990px) {
  .cardimg {
    width: 250px;
    height: 250px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .galleria {
    width: 350px;
    height: 350px;
  }
  .modal-body img {
    max-width: 480px;
    height: auto;
  }
  .ml100 {
    margin-left: 0px;
  }
}
/* Desktop */
@media (min-width: 992px) {
  .modal-body img {
    max-width: 1000px;
    height: auto;
  }
  .mt40 {
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */