
<main>
	<section class="row">
		<h1>Calcolo codice fiscale</h1>
	</section>


	<div class="container d-flex justify-content-center">
		<div class="box">
			<form asp-controller="#" asp-action="#">
				<p class="pt-3 text-danger">Nome</p>
				<input type="text" placeholder="Nome" />
				<p class="pt-3 text-danger">Cognome</p>
				<input type="text" placeholder="Cognome" />
				<p class="pt-3 text-danger">Data di nascita</p>
				<input type="date" placeholder="Data di nascita" />
				<p class="pt-3 text-danger">Sesso</p>
				<input type="radio" name="gender" value="M" /> M
				<input type="radio" name="gender" value="F" />F
				<p class="pt-3 text-danger">Comune di nascita</p>
				<input type="text" placeholder="Comune di nascita" />
				<br />
				<button type="submit" class="btn btn-success mt-3">Calcola</button>
			</form>
		</div>
	</div>
</main>