@using DataLayer

@model PersonaData

@{
    ComuniContext _comuni = new ComuniContext();
    var comuni = _comuni.Comunis.OrderBy(c => c.Denominazione).ToList();
    var province = _comuni.Comunis.Select(c => c.SiglaProvincia).Distinct().ToList();


}


    <div class="container-fluid d-flex ml0 flex-column justify-content-center" style="width:50% ">

        <div class="carta">
            <div class="codfisc"><strong>

                @if (@Model.CodiceFiscale != null)
				{
					@Model.CodiceFiscale
				}
				else
				{
					
				}

            </strong></div>
            <input class="text-form name" >
            <br />
            <input class="text-form lastname">
            <br />
            <select class="text-form citta" >
                @foreach(var comune in comuni)
				{
					<option>@comune.Denominazione</option>
				}
            @*    <option default> Koala</option>*@
            </select>
            <select class="text-form gender">
                <option default>M</option>
                <option>F</option>
            </select>
            <br />
            <select class="text-form province" >
            @foreach (var p in province)
            {
                <option>@p</option>
            }
           @* <option default>CT</option>
                <option>SR</option>*@
            </select>
            <input class="text-form data" type="date" style="">
        </div>
        <br />
        <button class="btn btn-lg btn-success text-center" style="margin-left:auto; margin-right:auto">Calcola</button>

    </div>




