@model string
<form>

    <div class="container-fluid d-flex flex-column justify-content-center" style="width:50% ">

        <div class="carta">
            <div class="codfisc"><strong>GLSNDR03S14C351L</strong></div>
            <input class="text-form name" >
            <br />
            <input class="text-form lastname">
            <br />
            <select class="text-form citta" >
                <option default> Koala</option>
            </select>
            <select class="text-form gender">
                <option default>M</option>
                <option>F</option>
            </select>
            <br />
            <select class="text-form province" >
                <option default>CT</option>
                <option>SR</option>
            </select>
            <input class="text-form data" type="date" style="">
        </div>
        <br />
        <button class="btn btn-lg btn-success text-center" style="margin-left:auto; margin-right:auto">Calcola</button>

    </div>
</form>


