html{font-size:20px; }
body{width:80vw;background-color: blanchedalmond;
    padding:auto;
    margin:auto;
}
header{background-color: white;
    display: flex;
}
nav{margin:auto;}
nav ul li {list-style: none;}
nav ul li a{text-decoration: none;}
h3{font-size: 16px;line-height: 1px;}
h6{font-size: 12px;line-height: 1px;}